
.background-main {
    background-image: url(../images/redhill.png);
    background-position: center, top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1000;
    background-size: cover;


}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: inline;
}




h1 {
    color: rgb(0, 0, 0);
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-weight: bold;
    font-size:500%;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    }


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: hsl(45, 3%, 31%);
}
 
li {
float: right;
}


li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


li a:hover {
background-color: #111;
}


a {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    color:rgb(255, 255, 255);


}


h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 300%;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    
}

.body-para {
    text-align: center;
    padding-top: 65vh;
    font-family: "futura-pt-1", "futura-pt-2", sans-serif;
    font-size: 200%;
    color: rgb( 245, 136, 159);
    -webkit-text-stroke: 1px rgb(235, 227, 227); 
}

.logo {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.intro {
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 150%;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .1em;
}

.events {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 200%;
    text-align: center;
    padding: 80px;
    margin: 25px;
    -webkit-text-stroke: 1px rgb(235, 227, 227); 
    color: red;
    font-weight: bold;
}