
.background-main {
    background-image: url(../images/redhill.png);
    background-position: center, top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0%;
    z-index: -1000;
    background-size: cover;
    opacity: 50%;
    border-style: dashed;
    border-width: 3px;
    border-color:hsl(45, 3%, 31%);
    border-right: 0;
    border-left: 0;
    border-top: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: inline;
}




h1 {
    color: rgb(0, 0, 0);
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    }

header {
  background-color: hsl(45, 3%, 31%);
  display: flex;
  align-items: center;;
  justify-content: space-between;

}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}
 


li a {
display: inline;
color: white;
text-align: center;
padding: 22px 18px  14px 16px;
text-decoration: none;
}


li a:hover {
background-color: #111;
}


a {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    color:rgb(255, 255, 255);


}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 3vw;
    font-weight: bold; 
}

.body-para {
    text-align: center;
    padding-top: 55vh;
    padding-bottom: 5vh;
    font-family: "futura-pt-1", "futura-pt-2", sans-serif;
    font-size: 5vw;
    color: rgb( 245, 136, 159);
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    font-weight: bold;
}

.logo {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


.intro {
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 150%;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .1em;
}

.hr { 
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
border-color:rgb(245, 136, 159);
} 

.events {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 5vw;
    text-align: center;
    padding: 20px;
    margin: 25px;
    color: rgb(112, 135, 194);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
}

.row {
    padding: 5px;
  } 

  .column {
    float: left;
    width: 33.3%;
    height: auto;
    max-width: 100%;
  }
  
  .column img {
    max-width: 100%
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.imageone {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
}


.imagetwo {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
}


.imagethree {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
  }


h3 {
    font-size: 24px;
    letter-spacing: .1em;
}

  p {
    font-size: 20px;
    letter-spacing: .1em;
  }

.button1 {
  background-color: rgb(112, 135, 194);
  border: none;
  color: white;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20dvw;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 2vw;
}


@viewport {
  width: device-width; 
  zoom: 1.0;
}


  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 
 

   
   footer {
   height: 100px;
   font-family: "futura-pt-1","futura-pt-2",sans-serif;
   color: rgb(245, 136, 159);
   padding: 20px;
   background:hsl(45, 3%, 31%);
   padding-right: auto;
   padding-left: auto;
   left:0px;
   right: 0px;
   bottom:0px;
   height:150px;
   flex-direction: column;
   text-align: center;
   font-size: 2vw;
   outline-style: solid;
   outline-color:rgb(112, 135, 194);
   outline-width: 5px;
   }

   .facebook {
    box-align: center;
    width: 3vw;
    height: 3vw;
  }

  .instagram {
    box-align: center;
    width: 3vw;
    height: 3vw;
  }

  .facebook2 {
    box-align: center;
    width: 80px;
    height: 80px;
  }

  .instagram2 {
    box-align: center;
    width: 80px;
    height: 80px;
  }

  .abouttitle {
    color: rgb( 245, 136, 159);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 5vw;
    font-weight: bold;
    padding-bottom: 35px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }

  .aboutcanberra {
    color:rgb(112, 135, 194);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 5vw;
    font-weight: bold;
    padding-bottom: 35px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }

 .founders{
  display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 3vw;
  border-radius: 50%;
}
 
   .main-body {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 20px;
    color:hsl(45, 3%, 31%);
   }


.titlecontact {
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  text-align: center;
  font-size: 6vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
   
.hr2 {
  display: block;
  margin-top: 3px;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
border-color:rgb(245, 136, 159);
}

  .navlogo {
    width:60px;
    height:60px;
  }

.column1{
  width: 100%;
}
.column2{
  width: 100%;
}
  

  .grid-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   grid-gap: 5px;
   margin-top: 5px;
   padding-bottom: 20px;
  }

  .grid-2 img{
    max-width: 100%;
  }

 .gallerytitle {
  text-align: center;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  font-size: 5vw;
  padding-top: 30px;
  padding-bottom: 20px;
  color: rgb(112, 135, 194);
  font-weight: bold;
  -webkit-text-stroke: 1px rgb(0, 0, 0); 
 }

 .emaillink {
  background-color: rgb(112, 135, 194);
  border: none;
  color: white;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20dvw;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 2vw;
  border-style:double;
  text-decoration: underline;
 }

 .emailcontact {
  text-align: center;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  font-size: 3vw;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-style: double;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: bold;
 }

 .contactsubheading {
  text-align: center;
  font-family: "futura-pt-1", "futura-pt-2", sans-serif;
  padding-bottom: 20px;
  font-size: 5vw;
  color:rgb(245, 136, 159);
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #111;
  font-weight: bold;
 }

.copyright {
  font-size: 1vw;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  color:rgb(255, 255, 255)
}

.logo2 {
  display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 3vw;
    border-radius: 50%;
}

.footer2 {
  height: 100px;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  color: rgb(245, 136, 159);
  padding: 20px;
  background:hsl(45, 3%, 31%);
  padding-right: auto;
  padding-left: auto;
  left:0px;
  right: 0px;
  bottom:0px;
  height:150px;
  flex-direction: column;
  text-align: center;
  font-size: 2vw;
  outline-style: solid;
  outline-color:rgb(112, 135, 194);
  outline-width: 5px;
}

.waytofind {
  color:black;
  font-size: 2vw;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
}