
.background-main {
    background-image: url(../images/redhill.png);
    background-position: center, top;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1000;
    background-size: cover;


}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: inline;
}




h1 {
    color: rgb(0, 0, 0);
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    }


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: hsl(45, 3%, 31%);
}
 
li {
float: right;
}


li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


li a:hover {
background-color: #111;
}


a {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    color:rgb(255, 255, 255);


}


h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 300%;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    
}

.body-para {
    text-align: center;
    padding-top: 55vh;
    padding-bottom: 5vh;
    font-family: "futura-pt-1", "futura-pt-2", sans-serif;
    font-size: 5vw;
    color: rgb( 245, 136, 159);
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    font-weight: bold;
}

.logo {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


.intro {
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 150%;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .1em;
}

.hr { 
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
border-color:rgb(245, 136, 159);
} 

.events {
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 5vw;
    text-align: center;
    padding: 20px;
    margin: 25px;
    color: rgb(112, 135, 194);
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
}

.row {
    margin: 8px -16px;
  } 

  .column {
    float: left;
    width: 33.3%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.imageone {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
}


.imagetwo {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    
}


.imagethree {
    background-color: white;
    padding: 25px;
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    
  }


h3 {
    font-size: 24px;
    letter-spacing: .1em;
}

  p {
    font-size: 20px;
    letter-spacing: .1em;
  }

.button1 {
  background-color: rgb(112, 135, 194);
  border: none;
  color: white;
  font-family: "futura-pt-1","futura-pt-2",sans-serif;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20dvw;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 2vw;
}

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } 
 

   
   footer {
   height: 100px;
   font-family: "futura-pt-1","futura-pt-2",sans-serif;
   color: rgb(245, 136, 159);
   padding: 20px;
   background:hsl(45, 3%, 31%);
   padding-right: auto;
   padding-left: auto;
   left:0px;
   right: 0px;
   bottom:0px;
   height:150px;
   flex-direction: column;
   text-align: center;
   font-size: 2vw;
   }

   .facebook {
    box-align: center;
    width: 3vw;
    height: 3vw;

  }

  .instagram {
    box-align: center;
    width: 3vw;
    height: 3vw;
  }

  .abouttitle {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 300%;
    font-weight: bold;
    padding-bottom: 35px;
  }

 .founders{
  display: block;
    margin-left: auto;
    width: 400px;
    height: 400px;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 3vw;
}
 
   .main-body {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-family: "futura-pt-1","futura-pt-2",sans-serif;
    font-size: 20px;
   }